<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}">
<h2>{L_SETTINGS}</h2>
	<div class="panel">
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label for="heatware_enabled">{L_HEATWARE_SHOW_BADGE}</label><br/><!-- IF S_HEATWARE_GLOBAL_ENABLED -->{L_HEATWARE_GLOBAL_ENABLED}<!-- ENDIF --></dt>
					<dd><input type="checkbox" class="checkbox_input" name="heatware_enabled" value="1" <!-- IF S_HEATWARE_SHOW_BADGE -->checked<!-- ENDIF --><!-- IF S_HEATWARE_GLOBAL_ENABLED -->readonly<!-- ENDIF --> /></dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
				<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
